<div class="container">
  <div class="container-middle-bottom">
    <form method="POST" action="/">
      <div id="middle">
        <h2>你想和誰說幹話？</h2>
        <div id="professions">

          <div id="engineer" class="card card-profession">
            <div class="profession-header bg-warning"></div>
            <img class="card-img-top"
              src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
              alt="engineer">
            <div id="profession-choice">
              <input id="engineer-radio" type="radio" name="profession" class="form-control" value="engineer" checked />
              <label for="engineer-radio">工程師</label>
            </div>
          </div>

          <div id="designer" class="card card-profession">
            <div class="profession-header bg-warning"></div>
            <img class="card-img-top"
              src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
              alt="designer">
            <div id="profession-choice">
              <input id="designer-radio" type="radio" name="profession" class="form-control" value="designer"
                {{#if designer}} checked {{/if}}>
              <label for="designer-radio">設計師</label>
            </div>
          </div>

          <div id="entrepreneur" class="card card-profession">
            <div class="profession-header bg-warning"></div>
            <img class="card-img-top"
              src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
              alt="entrepreneur">
            <div id="profession-choice">
              <input id="entrepreneur-radio" type="radio" name="profession" class="form-control" value="entrepreneur"
                {{#if entrepreneur}} checked {{/if}}>

              <label for="entrepreneur-radio">創業家</label>
            </div>
          </div>

        </div>

      </div>

      <div id="bottom">
        <button type="submit" class="btn btn-warning">產生幹話</button>
        <input type="text" name="createTalkRubbish" class="form-control" id="create-talk-rubbish"
          value="{{talkRubbish}}">
      </div>
    </form>
  </div>
</div>